{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Change Password {% endblock %}</h1>

    <form method="post">
        <label for="title">Username:</label>
        <br>
        <input type="text" name="username"
               placeholder="Username"
               value="{{ request.form['username'] }}"></input>
        <br>

        <label for="oldPassword">Old Password</label>
        <br>
        <input type="password" name="oldPassword"
               placeholder="Old Password"
               value="{{ request.form['oldPassword'] }}">
        <br>
        <label for="password">New Password</label>
        <br>
        <input type="password" name="password"
               placeholder="New Password"
               value="{{ request.form['password'] }}">
        <br>
        <label for="confirmPassword">Confirm Password</label>
        <br>
        <input type="password" name="confirmPassword"
               placeholder="Confirm Password"
               value="{{ request.form['password'] }}">
        <br>

        <button type="submit">Submit</button>
    </form>


    </form>
{% endblock %}

